.item {
  padding: 14px 16px;
  background-color: #7e64ff;
  border-radius: 8px;
}

.text {
  font-size: 14px;
  color: #fff;
}

.date {
  display: block;
  margin-top: 16px;
  font-size: 12px;
  color: #fff;
}